<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('header.ejs') -%>
</head>

<body>
  <div class="container">
    <%- include('search.ejs') -%>
      <div class="return">
        <% if (weatherData===null) { %>
          <% } else if(error !==null){ %>
            <p>
              <%= error %>
            </p>
            <% } else { %>
              <%- include('weatherCard.ejs') -%>
                <% } %>
      </div>
      <div class="bottom">

        <%- include('footer.ejs') -%>
      </div>
  </div>

  </div>

</html>